boto==2.38.0
botocore==1.1.8
bz2file==0.98
colorama==0.3.3
docutils==0.12
gensim==0.10.3
jmespath==0.7.1
mlxtend==0.2.8
nltk==3.0.4
numpy==1.9.2
pyasn1==0.1.8
python-dateutil==2.4.2
rsa==3.1.4
scikit-learn==0.16.1
scipy==0.16.0
six==1.9.0
sklearn==0.0
smart-open==1.2.1
wsgiref==0.1.2
